body {
    padding: 0px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

#chartsContainer {
    width: 75%;
    height: 100%;
    display: grid;
}

.chart-div {
    background-color: white;
}

.chart-div-side {
    outline: 0.2px solid #cfcfcf;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

#export {
    position: absolute;
    left: 5px;
    margin: 0px 10px 0px 10px;
    width: 75px;
    height: 30px;
}

#pause {
    margin: 0px 10px 0px 10px;
    width: 75px;
    height: 30px;
}

#restart {
    margin: 0px 10px 0px 10px;
    width: 75px;
    height: 30px;
}

.window-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

#window-slider {
    margin: 0 10px;
}

.window-container input[type="number"] {
    width: 35px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

.window-container input[type="number"]::-webkit-inner-spin-button,
.window-container input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

svg {
    display: block;
}


#sidePanel {
    width: 25%;
    height: 100%;
}
